@font-face {
    font-family: "Bildad";
    src: url("./assets/fonts/Bildad.woff2") format("opentype");
    font-weight: normal;
    font-style: normal
}
@tailwind base;
@tailwind components;
@tailwind utilities;